body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.buttonContainer {
    margin: 10px;
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid;
    background-color: rgb(250, 248, 248);
}



td {
    width: 500px;
    border: solid;
    
}

